.container-fluid{:style => "margin-top: 25px;"}
  .row
    .card-deck
      .card
        .card-header Featured
        %img.card-img-top{:alt => "Card image cap", :src => "http://bit.ly/2ChIQ80"}/
        .card-block
          %h4.card-title Timber project
          %p.card-text Timber is a platform to share your phots and content together with your family.
          %a.btn.btn-primary{:href => "https://github.com/CraftAcademy/Timber", :target => "_blank", :style => "margin-bottom: 5px;"} Go to repo
          %p.card-text
            %small.text-muted
              Last commit:
              = get_last_push_date('craftacademy', 'timber')
      .card
        %img.card-img-top{:alt => "Card image cap", :src => "http://bit.ly/2z5qdra"}/
        .card-block
          %h4.card-title Portfolio
          %p.card-text I'm constantly updating my portfolio with middleman and you can check what's going on under the hood in my repo.
          %a.btn.btn-primary{:href => "https://github.com/NegativeKarma/portfolio/", :target => "_blank", :style => "margin-bottom: 5px;"} Go to repo
          %p.card-text
            %small.text-muted
              Last commit:
              = get_last_push_date('negativekarma', 'portfolio')
      .card
        %img.card-img-top{:alt => "Card image cap", :src => "http://bit.ly/2iYOgNT"}/
        .card-block
          %h4.card-title BMI Challenge
          %p.card-text Create a web application that calculates your BMI(body mass index) using both the metric and imperial method once you input your weight and height. The application has been created with a test driven development philosophy using Jasmine.
          %a.btn.btn-primary{:href => "https://github.com/NegativeKarma/bmi_challenge", :target => "_blank", :style => "margin-bottom: 5px;"} Go to repo
          %a.btn.btn-primary{:href => "https://negativekarma.github.io/bmi_challenge/", :target => "_blank", :style => "margin-bottom: 5px;"} Go to site
          %p.card-text
            %small.text-muted
              Last commit:
              = get_last_push_date('negativekarma', 'bmi_challenge')
      .card
        %img.card-img-top{:alt => "Card image cap", :src => "http://bit.ly/2zFtH3j"}/
        .card-block
          %h4.card-title ATM Challenge
          %p.card-text Project with Ruby, week 1 at CraftAcademy. Create an ATM machine with basic features to make it able to interact to a person with an account.
          %a.btn.btn-primary{:href => "https://github.com/NegativeKarma/atm_challenge", :target => "_blank", :style => "margin-bottom: 5px;"} Go to repo
          %p.card-text
            %small.text-muted
              Last commit:
              = get_last_push_date('negativekarma', 'atm_challenge')
      .card
        %img.card-img-top{:alt => "Card image cap", :src => "http://bit.ly/2iYHOWT"}/
        .card-block
          %h4.card-title Fizzbuzz Challenge
          %p.card-text Reproduce the Fizz Buzz game using Ruby and JavaScript. The purpose was to practice Ruby and JavaScript both by following instructions and adding some methods for the "sad path" possibilities, even more important was to set RSpec and Jasmine to test the code.
          %a.btn.btn-primary{:href => "https://github.com/NegativeKarma/fizz_buzz", :target => "_blank", :style => "margin-bottom: 5px;"} Ruby version
          %a.btn.btn-primary{:href => "https://github.com/NegativeKarma/fizzbuzz_js", :target => "_blank", :style => "margin-bottom: 5px;"} JavaScript version
          %p.card-text
            %small.text-muted
              Last commit:
              = get_last_push_date('negativekarma', 'fizzbuzz_js')
